<div class="tqb-city-picker out loading {{#if static}}static{{/if}}">
  <header>
    <button type="button" class="tqb-cp-close-button">&lt;</button>
    <h3>选择城市</h3>
  </header>
  <div class="tqb-cp-container loading">
    <p class="loading">加载中，请稍候</p>
  </div>
</div>