<div class="tqb-city-picker loading {{#if static}}static{{else}}out{{/if}}">
  <header>
    <button type="button" class="tqb-cp-close-button">&lt;</button>
    <h3>选择城市</h3>
    <button type="button" class="tqb-cp-search-button">搜索</button>
    <input type="search" name="query">
    <button type="button" class="tqb-cp-clear-button">&times;</button>
  </header>
  <div class="tqb-cp-container loading">
    <p class="loading">加载中，请稍候</p>
  </div>
</div>