<div class="tqb-city-picker tqb-cp-loading {{#if static}}static{{else}}out{{/if}}">
  <header>
    <button type="button" class="tqb-cp-close-button"></button>
    <h3>选择城市</h3>
    <button type="button" class="tqb-cp-search-button"></button>
  </header>
  <div class="search">
    <i class="search-icon"></i>
    <input type="search" name="query" autofocus>
    <button type="button" class="tqb-cp-clear-button">&times;</button>
    <button type="button" class="tqb-cp-search-button">取消</button>
  </div>
  <div class="tqb-cp-container tqb-cp-loading">
    <p class="tqb-cp-loading">加载中，请稍候</p>
  </div>
  <div class="capital-header"></div>
</div>