<div class="tqb-cp-list">
  {{#if hot}}
  <div class="hot">
    <h4 class="label">热门</h4>
    <ul>
      {{#each hot}}
        {{> ./item}}
      {{/each}}
    </ul>
  </div>
  {{/if}}
  <ul class="list">
    {{#each list}}
      {{> ./item}}
    {{/each}}
  </ul>
</div>
<!-- split -->
<ul class="vocabulary">
  {{#each vocabulary}}
    <li>{{.}}</li>
  {{/each}}
</ul>
