.tqb-city-picker
  background-color white
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  display flex
  flex-direction column
  font-size root-font-size
  transition all .2s
  z-index 1024

  &.static
    position relative
    max-width 375px
    height 600px
    border 1px solid silver

  &.out
    transform translate3d(0,2em,0)
    opacity 0

  &.hide
    display none !important

  &.search
    > header,
    .vocabulary
    .hot
      display none

    .search
      display flex

  @import "_header.styl"
  @import "_search.styl"
  @import "_container.styl"
  @import "_capital-header.styl"
  @import "_list.styl"
  @import "_vocabulary.styl"
  @import "_error.styl"