> .tqb-cp-container
  flex 1
  overflow-y auto
  -webkit-overflow-scrolling touch

  &.tqb-cp-loading
    display flex
    justify-content center
    align-items center

    .tqb-cp-loading
      color gray