> .tqb-cp-container
  flex 1
  overflow-y auto
  -webkit-overflow-scrolling touch

  &.loading
    display flex
    justify-content center
    align-items center

    .loading
      color gray

  > header
    background-color background-color
    line-height 2.25em
    padding 0 0 0 1.6em
    margin 0
    font-size 0.75em
    position absolute
    width 100%

    &:not(.show)
      display none