> header
  background-color white
  border-bottom 1px solid border-color
  position relative

  button
    position absolute
    top 0
    left 0
    background-color white
    border none
    padding 0
    margin 0
    width 60px
    height header-height - 1px
    line-height header-height - 1px
    font-size 2em

  h3
    font-size 1.25em
    text-align center
    line-height header-height
    margin 0