> header
  background-color white
  border-bottom 1px solid border-color
  position relative

  button
    position absolute
    top 0
    background-color white
    background-repeat no-repeat
    background-position center center
    border none
    padding 0
    margin 0
    width 3em
    height header-height - 1px
    line-height header-height - 1px

    &.tqb-cp-close-button
      left 0
      background-image url(../img/chevron-left.svg)
      background-size 1.2em
      background-position-x .9em

    &.tqb-cp-search-button
      right 0
      background-image url(../img/search.svg)
      background-size 1.5em
      background-position-x .85em

      .loading &
        display none

  h3
    font-size 1.25em
    text-align center
    line-height header-height - 1px
    margin 0