> .search
  display none
  padding .5em
  position relative

  .search-icon
    background url(../img/search.svg) no-repeat center center
    background-size .9em .9em
    position absolute
    top 0.9em
    left 1em
    width 1em
    height 1em
    opacity .5

  input
    background-color silver
    border none
    border-radius 4px
    flex 1
    margin-right .5em
    padding-left 2em

    &:focus
      background-color white

  .tqb-cp-clear-button
    color white
    background-color gray
    border 0
    width 1em
    height 1em
    border-radius 50%
    position absolute
    margin 0
    padding 0
    line-height 1
    top .9em
    right 4.2em

  .tqb-cp-search-button
    background white
    border none
    color blue
    padding 2px .375em 3px