.vocabulary
  position absolute
  top header-height
  right 0
  bottom 0
  width 1em
  padding-left 0
  display flex
  justify-content center
  flex-direction column
  text-align center

  li
    font-size 0.75em
    font-family Consolas
    line-height 1.75em
    list-style none